@tailwind base;
@tailwind components;
@tailwind utilities;

/* Used for the background effect in the landing page */
.background {
  background-image: radial-gradient(
    circle,
    rgb(111,66,193) 2px,
    transparent 1px
  );
  background-size: 30px 30px;
  background-position: 0 0, 20px 20px;
}

.lower-gradient {
  background-image: linear-gradient(
    to top,
    rgba(46, 9, 39),
    rgba(84, 11, 65)
  );
  height: 30vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.fading-hr {
  position: relative;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3),
    transparent
  );
}

/* Used for code / table formatting within messages */
pre {
  @apply overflow-auto rounded-lg;
}

.window-heights {
  @apply h-[14em] overflow-y-auto overflow-x-hidden sm-h:h-[17em] md-h:h-[22em] lg-h:h-[30em];
}

.link {
  @apply cursor-pointer text-purple-400 underline hover:text-purple-300;
}

table {
  @apply w-full rounded-lg text-gray-100;
  background-color: #2e2538;
}

th,
td {
  @apply rounded-lg border border-gray-700 px-4 py-2;
}

th {
  background-color: #2c2137;
}

tr:nth-child(even) {
  background-color: #372947;
}

/* Customize website's scrollbar like Andromeda theme */
/* total width */
div::-webkit-scrollbar {
  width: 6px;
}

/* background of the scrollbar except button or resizer */
div::-webkit-scrollbar-track {
  background: #1e1b2e;
}

/* scrollbar itself */
div::-webkit-scrollbar-thumb {
  background-color: #5861f3;
  border-radius: 3px;
  border: 2px solid #ea3eb9;
}

/* set button (top and bottom of the scrollbar) */
div::-webkit-scrollbar-button {
  display: none;
}

/* disappearing animation */
.animation-hide {
  animation: hide 1s cubic-bezier(0.4, 0, 0.2, 1) 0s 1 forwards;
}

@keyframes hide {
  to {
    opacity: 0;
  }
}
